{% extends 'base.html.twig' %}

{% block body %}
    <div class="login_form_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<!-- login_wrapper -->
						<div class="login_wrapper">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
									<a href="{{ path('auth_oauth_connect', {service: 'google'})}}" class="btn btn-primary google-plus"> Login  with Google <i class="fa fa-google-plus"></i> </a>
								</div>
							</div>
						</div>
						<!-- /.login_wrapper-->
					</div>
				</div>
			</div>
		</div>
{% endblock %}
