{% extends 'base.html.twig' %}


{% block body %}
    {% include 'navbar/index.html.twig' %}
    <div class="container text-center bg-dark pt-4 vh-100">
        <div class="row">
            <div class="col-sm-4">
                <div class="border mb-1">
                    Mon super livre        
                </div>
            </div>
            <div class="col-sm-4 mb-1">
                <div class="border">
                    Mon super livre        
                </div>
            </div>
            <div class="col-sm-4 mb-1">
                <div class="border">
                    Mon super livre        
                </div>
            </div>
            <div class="col-sm-4 mb-1">
                <div class="border">
                    Mon super livre        
                </div>
            </div>
            <div class="col-sm-4 mb-1">
                <div class="border">
                    Mon super livre        
                </div>
            </div>
            <div class="col-sm-4 mb-1">
                <div class="border">
                    Mon super livre        
                </div>
            </div>            
        </div>
        <div class="row">
                <div class="col-sm-4 mb-1">
                    <div class="border">
                        Mon super livre        
                    </div>
                </div>
                <div class="col-sm-4 mb-1">
                    <div class="border">
                        Mon super livre        
                    </div>
                </div>
                <div class="col-sm-4 mb-1">
                    <div class="border">
                        Mon super livre        
                    </div>
                </div>
            </div>
    </div>

    {% include 'footer/index.html.twig' %}


{% endblock %}
