{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="text-center bg-primary">
        <h1 class="display-4">Bienvenue sur mon site Symfony avec Bootstrap !</h1>
        <p class="lead mt-3">Ceci est une page d'exemple avec un layout responsive.</p>
        <p class="lead mt-3">werwer{{access_token}}</p>
    </div>
{% endblock %}
