{% extends 'base.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block body %}
    <footer class="bg-light text-center text-muted h-25">
        <div class="container">
            <p class="mb-0">&copy; {{ "now"|date("Y") }} - MonSite. Tous droits réservés.</p>
            <p class="mb-0">&copy; {{ "now"|date("Y") }} - MonSite. Tous droits réservés.</p>
            <p class="mb-0">&copy; {{ "now"|date("Y") }} - MonSite. Tous droits réservés.</p>
        </div>
    </footer>
{% endblock %}
